<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chatroom</title>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
        
        <main class="body-content">
            <h1><%= chatroom_title %></h1>
            <div class="col s12 m8 offset-m2 l6 offset-l3" id="chat-content">
                <div class="card-panel grey lighten-5 z-depth-1 chat">
                    <div class="row valign-wrapper">
                            <section class="section_chat col s12">
                                    <div id="zone_chat">
                                            <% for(var i=0; i<results.length; i++) {%>
                                                <div>
                                                    <div class="chip">
                                                            <% if (results[i].picture != null) { %>
                                                                <img src="images/profile/<%= results[i].picture %>" >
                                                            <% } else { %>
                                                                <img src="images/profile/profile_picture.png" alt="profile_picture"> 
                                                            <% } %>
                                                            <%= results[i].pseudo %>
                                                            <a href="/delete-message?id=<%= results[i].message_id %>&id_chatroom=<%= results[i].chatroom_id %>"><i class="close material-icons">close</i></a>
                                                    </div> 
                                                    <span class="chat_message"><%= results[i].message_content %></span>
                                                </div>
                                            <% } %>
                                    </div>
                            </section>
                        
                    </div>
                    <div class"chat-bottom-part">
                        <div class="divider"></div>
                        <div  id="chat_form">
                            <div class="col s12">
                                    <span class="black-text ">
                                        <form action="" method="POST">  
                                            <div class="row message-chat">
                                                <div class="input-field col s9">
                                                    <i class="material-icons prefix">textsms</i>
                                                    <textarea id="message" name="message" class="materialize-textarea"></textarea>
                                                    <label for="message">Your message here</label>
                                                </div>
                                                <div class="col s3">
                                                    <button class="btn waves-effect waves-light" type="submit" id="send_message">
                                                        Send
                                                        <i class="material-icons right">send</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </span>
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    
        <footer class="page-footer">
            <% include ../partials/footer %>
        </footer>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            // Connexion à socket.io
            var socket = io({ query: "chatroom_id=<%= chatroom_id %>" });

            socket.on('chat_message', function (data) {
                insereMessage(data.pseudo, data.message, data.picture);
            });

            // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
            $('#chat_form').submit(function () {
                var message = $('#message').val();
                socket.emit('chat_message', message); // Transmet le message aux autres
                $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
                return false; // Permet de bloquer l'envoi "classique" du formulaire
            });
            
            // Ajoute un message dans la page
            function insereMessage(pseudo, message, picture, message_id, chatroom_id) {
                if (picture != null) {
                    $('#zone_chat').append('<div><div class="chip"><img src="images/profile/'+picture+'">'+pseudo+'<a href="/delete-message?id='+message_id+'&id_chatroom='+chatroom_id+'"><i class="close material-icons">close</i></a></div> <span class="chat_message">'+message+'</span></div>');
                }
                else{
                    $('#zone_chat').append('<div><div class="chip"><img src="images/profile/profile_picture.png">'+pseudo+'<a href="/delete-message?id='+message_id+'&id_chatroom='+chatroom_id+'"><i class="close material-icons">close</i></a></div> <span class="chat_message">'+message+'</span></div>');
                }
                $('.section_chat').scrollTop($('.section_chat')[0].scrollHeight);
            }
            $('.section_chat').scrollTop($('.section_chat')[0].scrollHeight);
            
        </script>
            
    </body>
</html>
